@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

/* Default link styles */
/* .nav-link {
    display: flex;
    align-items: center;
    padding: 14px;
    gap: 8px;
    min-width: 18rem;
    text-decoration: none;
    color: black;
} */

/* When a link is active */
/* .nav-link.active {
    background-color: #c4c9f1;
    color: white;
    border-right: 3px solid #5f6FFF;
} */

/* .hide-scrollbar::-webkit-scrollbar {
    display: none;
} */
::-webkit-scrollbar {
    @apply hidden
}

/* .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
/* scrollbar-width: none;
/* Firefox */
* {
    font-family: Outfit;
}